<h1>レビュー一覧</h1>

<%= @reviews.each do |review| %>

  <p>タイトル</p>
  <span><%= list.title %></span>
  
<% end %>
<% @review.images.each do |image| %>
  <%= image_tag image, class: 'img-thumbnail' %>
<% end %>